<div class="day-card-comments">
	<% day.comments.each do |comment| %>
		<p>Name: <%= comment.name %>
		</p>
		<p>Email: <%= comment.email %>
		</p>
		<p>Comment: <%= comment.body %>
		</p>
	<% end %>
	<%= render partial: "day_create_comment", locals:{day: day} %>
</div>