<div class="landing">
	<div class="container landing-container">
		<div class="one half">
			<div class="option">
				<a href="<%= trip_path %>">
					<h2>Demo</h2>
				</a>
					<br>
					<p>Explore a Journey that can be shared with family and friends.</p>
				</a>
			</div>
		</div>
		<div class="one half">
			<div class="option">
				<h2>Blog</h2>
				<br>
				<p>Keep up to date with Journey development and deployment.</p>
			</div>
		</div>
	</div>
</div>

