<div class="landing">
	<div class="header">
		<div class="two thirds">
			<h1>Journey</h1>
		</div>
		<div class="one thrid">
			<i class="icon-twitter icon-4x"></i>
			<img class="icon" align= "bottom" src="<%= asset_path 'twitter_icon.png' %>"/>
			<img class="icon" align= "bottom" src="<%= asset_path 'email_icon.png' %>"/>
		</div>
	</div>
	<div class="container landing-container">
		<div class="one half">
			<div class="option">
				<h2>Demo</h2>
				<br>
				<p>Explore a Journey that can be shared with family and friends.</p>
			</div>
		</div>
		<div class="one half">
			<div class="option">
				<h2>Blog</h2>
				<br>
				<p>Keep up to date with Journey development and deployment.</p>
			</div>
		</div>
	</div>
</div>

