<div class="day-card">
	<div class="day-card-header">
		<h1>Journey</h1>
		<p>- Ryan and Sarah</p>
		<p>go to China...</p>
	</div>
	<div class="day-card-body">
		<h2>Day One</h2>
		<p>Melboure to Beijing</p>
	</div>
</div>
