<div class="day-card padded">
	<div class="day-card-header row">
		<h1 class="inline">Journey</h1>
		<p class="inline">- Ryan and Sarah</p>
		<p class="inline">go to China...</p>
	</div>
	<div class="day-card-body row">
		<h2 class="inline">Day One</h2>
		<p class="inline">Melboure to Beijing</p>
	</div>
</div>
