<div class="day-card-comments">
	<div class="day-comments-list">
		<% day.comments.each do |comment| %>
			<p>Name: <%= comment.name %>
			</p>
			<p>Comment: <%= comment.body %>
			</p>
		<% end %>
	</div>
	<%= render partial: "day_create_comment", locals:{day: day} %>
</div>
