<div class="body">
	<div class="header">
		<div class="two thirds">
			<h1>Journey</h1>
		</div>
		<div class="one thrid">
		</div>
	</div>
	<div class="container user-container">
		<div class="one third">
			<div class="user-option">
				<h2>Profile</h2>
				<br>
				<p>About me:</p>
			</div>
		</div>
		<div class="one third">
			<div class="user-option">
				<h2>Update a day</h2>
				<br>
				<p>Update today or a past day with details of your Journey.</p>
			</div>
			<div class="user-option">
				<h2>Edit a day</h2>
				<br>
				<p>Edit the location or travel details of a future day.</p>
			</div>
			<div class="user-option">
				<h2>Add a day</h2>
				<br>
				<p>Add a day to your Journey and continue your travels.</p>
			</div>
		</div>
		<div class="one third">
			<div class="user-option">
				<h2>Placeholder</h2>
				<br>
				<p>Placeholder text.</p>
			</div>
		</div>
	</div>
</div>