@import 'groundwork_settings';
@import 'groundworkcss/groundwork';
 
// =============================================
//                 Web Fonts
//          Last Updated:2013-8-16
// =============================================
 
@for $i from 1 through length($web-font-files) {
  @font-face {
    font-family: '#{nth($web-font-names, $i)}';
    font-style: normal;
    font-weight: normal;
    src: font-url('#{$fonts_path}#{nth($web-font-files, $i)}.eot');
    src: font-url('#{$fonts_path}#{nth($web-font-files, $i)}.eot#iefix') format('embedded-opentype'), 
         font-url('#{$fonts_path}#{nth($web-font-files, $i)}.woff') format('woff'), 
         font-url('#{$fonts_path}#{nth($web-font-files, $i)}.ttf') format('truetype'),
         font-url('#{$fonts_path}#{nth($web-font-files, $i)}.svg##{nth($web-font-names, $i)}') format('svg');
  }
}
 
@if $placeholder-fonts {
  @for $i from 1 through length($placeholder-font-files) {
    @font-face {
      font-family: '#{nth($placeholder-font-names, $i)}';
      font-style: normal;
      font-weight: normal;
      src: font-url('#{$fonts_path}#{nth($placeholder-font-files, $i)}.eot');
      src: font-url('#{$fonts_path}#{nth($placeholder-font-files, $i)}.eot#iefix') format('embedded-opentype'), 
           font-url('#{$fonts_path}#{nth($placeholder-font-files, $i)}.woff') format('woff'), 
           font-url('#{$fonts_path}#{nth($placeholder-font-files, $i)}.ttf') format('truetype'),
           font-url('#{$fonts_path}#{nth($placeholder-font-files, $i)}.svg##{nth($placeholder-font-names, $i)}') format('svg');
    }
  }
}
 
@font-face {
  font-family: 'FontAwesome';
  src: font-url('#{$fonts_path}fontawesome-webfont.eot?v=#{$FontAwesomeVersion}');
  src: font-url('#{$fonts_path}fontawesome-webfont.eot?#iefix&v=#{$FontAwesomeVersion}') format('embedded-opentype'),
    font-url('#{$fonts_path}fontawesome-webfont.woff?v=#{$FontAwesomeVersion}') format('woff'),
    font-url('#{$fonts_path}fontawesome-webfont.ttf?v=#{$FontAwesomeVersion}') format('truetype'),
    font-url('#{$fonts_path}fontawesome-webfont.svg#fontawesomeregular?v=#{$FontAwesomeVersion}') format('svg');
  font-weight: normal;
  font-style: normal;
}