.user-container {
	height: 80%;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	position: center;
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
}
.user-option {
	height: 90%;
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;	
}