@font-face {
	font-family: Museo;
	src: url('Museo500-Regular.OTF');
}

body {
	background-color: 	#E0E4CC;
	font-family: Museo;
	color: 	#4D4D4D;
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 5px;
		line-height: 30px;
	}
	p {
		margin-bottom: 5px;
		line-height: 15px;
	}
}

.day-card {
	background-color: #E0E4CC;

	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;

	box-shadow: 3px 3px 3px #3E3E3E; 
	-moz-box-shadow: 3px 3px 3px #3E3E3E; 
	-webkit-box-shadow: 3px 3px 3px #3E3E3E;

	position: relative;
	-moz-postion: relative;
	-webkit-postition: relative;
}

.day-card.expanded{
	height: 320px;
	overflow: hidden;

	transition: height 1s;
	-webkit-transition: height 1s;
	-o-transition: height 1s;
	-moz-transition: height 1s;
}

.day-card-collapsed{
	height: 50px;
	overflow: hidden;
}

.collapsed{
	.day-card-collapsed{
		display: block;
	}
	.day-card-expanded{
		display: none;
	}
}
.expanded{
	.day-card-expanded{
		display: block;
	}
	.day-card-collapsed{
		display: none;
	}
}

.today{
	background-color: #E0E4CC;
}
.tomorrow {
	background-color: #A7DBD8;
}
.yesterday {
	background-color: #F38630;
}
.future {
	background-color: #69D2E7;
}
.past {
	background-color: #FA6900;
}

.day-card-header {
	padding-top: 10px;
}

.day-card-details {
	padding-top: 20px;
	padding-bottom: 20px;
}

button {
	background: #FA6900;
	border: 1px solid #FFFFFF;
	font-family: Museo;
	color: #FFFFFF;
	text-shadow: 0 0 5px rgba(0,0,0,0.25);

	&:hover {
		background: #F38630;
		font-family: Museo;
		color: #FFFFFF;	
	}
	&:disabled {
		background: #EDB080;
		font-family: Museo;
		color: #FFFFFF;
		border-color: #FFFFFF;
	}
}

.logo {
	width: 280px;
	height: 94px;
}

.headline {
	vertical-align: top;
	padding-top: 30px;
}
.sub-headline {
	vertical-align: top;
	padding-top: 32px;
	padding-left: 10px;
}