.day-card {
	background-color: #E0E4CC;

	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;

	box-shadow: 3px 3px 3px #cfcfcf; 
	-moz-box-shadow: 3px 3px 3px #cfcfcf; 
	-webkit-box-shadow: 3px 3px 3px #cfcfcf;

	position: relative;
	-moz-postion: relative;
	-webkit-postition: relative;
}

.collapsed{
	.day-card-collapsed{
		display: block;
	}
	.day-card-expanded{
		display: none;
	}
}
.expanded{
	.day-card-expanded{
		display: block;
	}
	.day-card-collapsed{
		display: none;
	}
}

.today{
	background-color: #E0E4CC;
}
.tomorrow {
	background-color: #A7DBD8;
}
.yesterday {
	background-color: #F38630;
}
.future {
	background-color: #69D2E7;
}
.past {
	background-color: #FA6900;
}