.day-card {
	background-color: #E0E4CC;

	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;

	box-shadow: 3px 3px 3px #cfcfcf; 
	-moz-box-shadow: 3px 3px 3px #cfcfcf; 
	-webkit-box-shadow: 3px 3px 3px #cfcfcf;
}

.collapsed{
	.day-card-collapsed{
		display: block;
	}
	.day-card-expanded{
		display: none;
	}
}
.expanded{
	.day-card-expanded{
		display: block;
	}
	.day-card-collapsed{
		display: none;
	}
}