<div class="profile">
	<div class="header">
		<h1>Journey</h1>
	</div>
	<div class="container profile-container">
		<div class="two thirds">
			<h2>About Me</h2>
		</div>
		<div class="one third">
			<img class="profile-image" src="<%= asset_path 'Polaroid_Picture.png' %>"/>
		</div>
	</div>
</div>